* {
    padding: 0;
    margin: 0;
}

.bg {
    width: auto;
    height: 100vh;
    background: #2C2C2C;
}

.tire {
    background: #fff;
    border: 2px solid #FFFFFF
}

.txt {
    margin: auto;
    font-family: 'Racing Sans One', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.text {
    margin: auto;
    font-family: 'Racing Sans One', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 1px solid;
    width: 50%;
}

.textStr {
    margin: auto;
    font-family: 'Racing Sans One', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 1px solid;
    width: 50%;
}

.btn {
    display: block;
    margin: 15px auto;
    background: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.input {
    display: block;
    width: 826px;
    height: 49px;
    border-radius: 20px 0px 0 20px;
    flex-shrink: 0;
    font-size: 25px;
}

.btn2 {
    display: block;
    font-family: 'Racing Sans One', sans-serif;
    width: 132.372px;
    height: 49px;
    border-radius: 0px 20px 20px 0px;
    background: #4F4F4F;
    color: #fff;
    border: none;
}

.line {
    margin: 20px auto;
    background: #FFF;
    width: 1025px;
    height: 1px;
    border-bottom: 1px solid #fff;
}